/* Chat Body */

.rcb-chat-body-container {
	position: relative;
	height: 100%;
	width: 100%;
	padding-bottom: 16px;
	overflow-x: hidden;
	overflow-y: scroll;
	touch-action: pan-y; /* prevents pinch zoom on mobile */
}

.rcb-chat-body-container::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

.rcb-chat-body-container::-webkit-scrollbar-thumb {
	background-color: #dddddd;
	border-radius: 4px;
}

.rcb-chat-body-container::-webkit-scrollbar-thumb:hover {
	background-color: #cfcfcf;
}

.rcb-chat-body-container::-webkit-scrollbar-corner {
	background-color: #f1f1f1;
}

/* Messages */

.rcb-bot-message-container {
	display: flex;
	flex-direction: row;
}

.rcb-user-message-container {
	display: flex;
	flex-direction: row;
	justify-content: right;
}

.rcb-bot-message,
.rcb-user-message {
	margin-top: 8px;
	padding: 12px 16px;
	border-radius: 22px;
	min-height: 20px;
	height: fit-content;
	display: flex;
	flex-direction: row;
	width: fit-content;
	font-size: 15px;
 	overflow-wrap: anywhere;
	overflow: hidden;
	white-space: pre-wrap;
}

.rcb-bot-message {
	text-align: left;
	margin-left: 16px;
}

.rcb-bot-message-offset {
	margin-left: 50px;
}

.rcb-bot-message-entry {
	animation: rcb-animation-bot-message-entry 0.3s ease-in backwards;
}

.rcb-user-message {
	text-align: right;
	margin-right: 16px;
}

.rcb-user-message-offset {
	margin-right: 50px;
}

.rcb-user-message-entry {
	animation: rcb-animation-user-message-entry 0.3s ease-in backwards;
}

.rcb-message-bot-avatar,
.rcb-message-user-avatar {
	background-size: cover;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-top: 9px;
}

.rcb-message-bot-avatar {
	margin-left: 6px;
	margin-right: -10px;
}

.rcb-message-user-avatar {
	margin-left: -10px;
	margin-right: 6px;
}

/* Bot Typing Indicator */

.rcb-typing-indicator {
	display: flex;
	align-items: center;
}

.rcb-dot {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #ccc;
	margin-right: 4px;
	animation: rcb-animation-bot-typing 1s infinite;
}

.rcb-dot:nth-child(2) {
  	animation-delay: 0.2s;
}

.rcb-dot:nth-child(3) {
  	animation-delay: 0.4s;
}

/* Toast Container */
.rcb-toast-prompt-container {
    position: absolute;
	left: 50%;
    transform: translateX(-50%); 
    bottom: 0px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
	flex-direction: column;
    opacity: 1;
    animation: popIn 0.3s ease-in-out;
    pointer-events: auto;
	margin-top: 200;
}