/* Chat Body */

.rcb-chat-body-container {
	position: relative;
	height: 100%;
	width: 100%;
	padding-bottom: 16px;
	overflow-x: hidden;
	overflow-y: scroll;
	touch-action: pan-y; /* prevents pinch zoom on mobile */
}

.rcb-chat-body-container::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

.rcb-chat-body-container::-webkit-scrollbar-thumb {
	background-color: #dddddd;
	border-radius: 4px;
}

.rcb-chat-body-container::-webkit-scrollbar-thumb:hover {
	background-color: #cfcfcf;
}

.rcb-chat-body-container::-webkit-scrollbar-corner {
	background-color: #f1f1f1;
}