/* Attachment Button */

.rcb-attach-button-enabled,
.rcb-attach-button-disabled {
	position: relative;
	display: inline-block;
	background-size: cover;
	width: 30px;
	height: 30px;
	border-radius: 6px;
	text-align: center;
}

.rcb-attach-button-enabled input[type="file"],
.rcb-attach-button-disabled input[type="file"] {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}

.rcb-attach-button-enabled {
	cursor: pointer;
}

.rcb-attach-button-disabled {
	opacity: 0.5;
}

.rcb-attach-button-enabled::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	opacity: 0;
	transition: width 0.2s ease-out, height 0.2s ease-out, opacity 0.2s ease-out;
}

.rcb-attach-button-enabled:hover::after {
	width: 130%;
	height: 130%;
	opacity: 1;
}

/* Attachment Icon */

.rcb-attach-icon-enabled,
.rcb-attach-icon-disabled {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-top: 2px;
	background-repeat: no-repeat;
	background-size: cover;
	transition: background-image 0.3s ease;
}

.rcb-attach-icon-enabled {
	cursor: pointer;
}