/* Voice Button */

.rcb-voice-button-enabled,
.rcb-voice-button-disabled {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	border-radius: 4px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	height: 32px;
	width: 32px;
	margin-left: 8px;
    transition: all 0.3s ease;
    background-color: #fff;
}

.rcb-voice-button-enabled {
    border: 1px solid red;
    box-shadow: 0 0 3px rgba(255, 0, 0, 0.5);
}

.rcb-voice-button-enabled:hover {
    border: 1px solid rgb(61, 0, 0);
}

.rcb-voice-button-disabled {
    border: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
}

.rcb-voice-button-disabled:hover {
    box-shadow: 0 0 3px rgb(138, 0, 0, 1);
}

/* Voice Icon */

.rcb-voice-icon {
	width: 60%;
	height: 60%;
	background-size: cover;
	object-fit: cover;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.rcb-voice-icon.on {
    animation: rcb-animation-ping 1s infinite;
}