/* ChatBot Header */

.rcb-chat-header-container {
	padding: 12px;
	color: #fff;
	border-bottom: 1px solid #ccc;
	display: flex;
	justify-content: space-between;
	max-height: 55px;
}

.rcb-chat-header {
	display: flex;
	flex-direction: row;
}

/* ChatBot Avatar */

.rcb-bot-avatar {
	background-size: cover;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 12px;
}