/* Container Display Styles (for Image & Video) */

.rcb-media-display-image-container, .rcb-media-display-video-container {
	margin-top: 8px;
	margin-right: 16px;
	border-radius: 22px;
	padding: 16px 16px;
	width: fit-content;
}

.rcb-media-display-offset {
	margin-right: 50px !important;
}

/* Image Display */

.rcb-media-display-image {
	width: 100%;
	height: auto;
	border-radius: 22px;
	object-fit: cover;
}

/* Video Display */

.rcb-media-display-video {
	width: 100%;
	height: auto;
	border-radius: 22px;
	background-color: black;
}

/* Audio Display */

.rcb-media-display-audio {
	margin-top: 8px;
	margin-right: 16px;
	width: 100%;
	height: auto;
	border-radius: 22px;
}

/* Media Display Entry Animations */

.rcb-media-entry {
	animation: rcb-animation-user-message-entry 0.3s ease-in backwards;
}
